<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WindowsFormsLinq.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsLinq.Properties.Settings.NORTHWND2ConnectionString"
            connectionString="Data Source=SEM-BILGISAYAR;Initial Catalog=NORTHWND2;User ID=test;Password=test"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  
  <appSettings>
    <add key="KayitTipi" value="Linq"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <WindowsFormsLinq.Properties.Settings>
            <setting name="kayitTipi" serializeAs="String">
                <value>linq</value>
            </setting>
        </WindowsFormsLinq.Properties.Settings>
    </applicationSettings>
</configuration>